<h1>{{ tutor.username }}</h1>

{% if request.GET.error == 'past_date' %}
  <p style="color: red;"><strong>❗ You cannot book a past date.</strong></p>
{% endif %}



<p><strong>Bio:</strong> {{ tutor.tutor_profile.bio }}</p>
<p><strong>Subjects:</strong> {{ tutor.tutor_profile.subjects }}</p>
<p><strong>Experience:</strong> {{ tutor.tutor_profile.experience_years }} year</p>
<p><strong>Price:</strong> {{ tutor.tutor_profile.price_per_hour }}$</p>

<form method="post">
    {% csrf_token %}
    <label id="datetime">Date and time of the lesson:</label>
    <input type="datetime-local" name="datetime" required>
    <button type="submit">To enrol</button>
</form>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("input[name='datetime']", {
        enableTime: true,
        dateFormat: "Y-m-d\\TH:i",
        minDate: "today"
    });
</script>

<a href="{% url 'tutor_list' %}" style="margin-top: 10px; display: inline-block;">← Back to list</a>
